<h1>Hello</h1>
<p>Apprendre à développer
Etre capable de sortir le site
Contacter des Guinea Pigs - Aurélien et des médecins du XVIème
Leur faire les sites
Leur proposer du référencement
M'améliorer dans le développement
Ajouter quelques fonctionnalités et du design, avec un peu de dév
Démarcher pour avoir des nouveaux clients
Automatiser la création
Avoir des commerciaux à la performance
Fluidifier les process
Proposer de nouveaux services : cartes de visite, dépannage ordi
Leur shooter des applications !!
</p>
